// Customize theme colors:
$theme-colors: (
  "primary": #827397,
  "secondary": #4d4c7d,
  "success": #649d66,
  "info": #01a9b4,
  "warning": #ffd31d,
  "danger": #e43f5a,
  "dark": #231f40,
  "light": #f0e5e8,
);
// Import bootstrap:
@import "../bootstrap/scss/bootstrap";

// Custom Styles:
body {
  background-color: #333;
  color: white;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}
